<!-- Typed core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

<script type="text/javascript">
// jquery ready start
$(document).ready(function() {
	// jQuery code

	// Highlight the top nav as scrolling occurs. /bootstrap/
    $('body').scrollspy({ 
        target: '#navbar_1',
        offset: 300
    });

	 // Menu scroll to section
    $('.scrollto').click(function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({ scrollTop: $($anchor.attr('href')).offset().top - 120  }, 1500);
        event.preventDefault();
    });
	
	// for small screen
    if ($(window).width() < 992) {

		// Closes the Responsive Menu on Menu Item Click
	    $('.navbar-collapse a.scrollto').click(function() {
	        $('.navbar-toggler:visible').click();
	    });
	}
    
}); // jquery end
</script>


<!-- Navigation -->
<div>
<nav id="navbar_1" class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm bg-white">
    <a class="navbar-brand d-none d-lg-block" href="#">        
        <%= link_to root_path, class: "navbar-nav mr-auto logo" do %>
            <%= image_tag "/assets/logo.png"%>
        <% end %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
    <ul class="nav nav-pills ml-auto">
        <li class="nav-item"><a href="#welcome" class="scrollto nav-link active"> Welcome</a></li>
        <li class="nav-item"><a href="#about" class="scrollto nav-link" > About</a></li>
        <li class="nav-item"><a href="#portfolio" class="scrollto nav-link"> Portfolio </a></li>
        <li class="nav-item"><a href="#contact" class="scrollto nav-link"> Contact</a></li>
    </ul>
    </div> 
</nav>


    <!-- SECTION CONTENT -->
    <section class="section-content py-5">
            
            <!--<img src="/assets/port.jpg" style="background-size: cover;   background-position: center; padding-bottom: 80px; width: 100%;"/>-->
        
        <!-- welcome -->
        <article id="welcome">
            <main>
                <section class="content content--full flexy flexy--row">
                    <h2 class="content__title content__title--medium content__title--half content__title--right">
                        <div id="rev-4" class="content__title__inner">Annie Puygrenier
</div><br/>
                        <div id="rev-5" class="content__title__inner content__title__inner--offset-2">web developer</div>
                    </h2>
                    <div id="rev-3" class="content__image-wrap content__image-wrap--half">
                        <img class="content__image" src="assets/note.jpg" alt="Some image"/>
                    </div>
                </section>
            </main>
            
            <!-- Custom scripts for this template -->
            <script src="/assets/anime.min.js"></script>
            <script src="/assets/scrollMonitor.js"></script>
            <script src="/assets/main.js"></script>
            <script>
            (function() {
                // Fake loading.
                setTimeout(init, 100);

                function init() {
                    document.body.classList.remove('loading');

                    //reveal on scroll *
                    var scrollElemToWatch_1 = document.getElementById('rev-3'),
                        watcher_1 = scrollMonitor.create(scrollElemToWatch_1, -300),
                        rev3 = new RevealFx(scrollElemToWatch_1, {
                            revealSettings : {
                                bgcolor: '#cca995',
                                direction: 'rl',
                                onCover: function(contentEl, revealerEl) {
                                    contentEl.style.opacity = 1;
                                }
                            }
                        }),
                        rev4 = new RevealFx(document.querySelector('#rev-4'), {
                            revealSettings : {
                                bgcolor: '#c46e28',
                                delay: 250,
                                onCover: function(contentEl, revealerEl) {
                                    contentEl.style.opacity = 1;
                                }
                            }
                        }),
                        rev5 = new RevealFx(document.querySelector('#rev-5'), {
                            revealSettings : {
                                bgcolor: '#d2836f',
                                delay: 500,
                                onCover: function(contentEl, revealerEl) {
                                    contentEl.style.opacity = 1;
                                }
                            }
                        });


                    watcher_1.enterViewport(function() {
                        rev3.reveal();
                        rev4.reveal();
                        rev5.reveal();
                        watcher_1.destroy();
                        
                    });
                    
            }})();
            </script>
        </article>

<div class="container">
        <!-- About me -->
        <article id="about">
        <div class="container">
            <div> 
                <h1 class="h1portfolio" href="./welcome">About Me</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12 about">
                    <img src="/assets/0.jpeg" class="mx-auto d-block img-fluid"/>
                </div>
                <div class="col-md-5 col-12 about">
                    <p class="intro">I'm a junior full-stack web & mobile developer based in Aix-en-Provence, France.</p>
                    <p class="dev">I enjoy turning complex problems into simple, beautiful and intuitive designs.
                    <br> When, I'm not coding, lisning music or looking series, you'll find me writing, designing or going shopping.</p>
                   <p class="dev"> If you are looking for a designer & user interface developer for contract, feel free to reach out.</p>
                </div>
            </div>
        </div>
        </div>

        <div class="container skills">
            <div class="row skills2">
                <div class="col-sm">
                    <figure class="image-skill">
                        <img class="mx-auto d-block icon-skill" src="/assets/backend.svg"/>
                        <h1 class="h1skill">Back-end<h1>
                        <p class="p-skill">I value application architecture, problem solving and thoughtful interaction. I love the feeling of being building something. Even if it's in the virtual realm.
                        </p>   
                        <p class="p1-skill">Dev Tools Back:</p>  
                        <li class="li-skill">Ruby</li>
                        <li class="li-skill">Ruby on rails</li>
                        <li class="li-skill">Javascript</li>
                        <li class="li-skill">Github</li>
                        <li class="li-skill">Gitlab</li>
                        <li class="li-skill">Terminal</li>
                        <li class="li-skill">Codepen</li>
                    </figure>
                </div>

                <div class="col-sm">
                    <figure class="image-skill">
                        <img class="mx-auto d-block icon-skill" src="/assets/front-end.svg"/>
                        <h1 class="h1skill">Front-end<h1>
                        <p class="p-skill">I like to code things from scratch, to straddle between design and data. My goal is to make data sexy in order to bring color and glitter into the lives of users.
                        </p>
                        <p class="p1-skill">Dev Tools Front:</p>
                        <li class="li-skill">HTML</li>
                        <li class="li-skill">CSS</li>
                        <li class="li-skill">Sass</li>
                        <li class="li-skill">Bootstrap</li>
                        <li class="li-skill">Spectre.CSS</li>
                        <li class="li-skill">Codepen</li>
                        <li class="li-skill">Bitbucket</li>
                    </figure>
                </div>

                <div class="col-sm">
                    <figure class="image-skill">
                        <img class="mx-auto d-block icon-skill" src="/assets/swift.svg"/>
                        <h1 class="h1skill">Swift iOS <h1>
                        <p class="p-skill">The discovery of swift was a magical experience for me. I quickly fell under the spell of its elegance. I love the multitude of potentialities offered by this language.
                        </p>
                        <p class="p1-skill">Design Tools:</p>
                        <li class="li-skill">Figma</li>
                        <li class="li-skill">Marvel</li>
                        <li class="li-skill">UX</li>
                        <li class="li-skill">UI</li>
                        <li class="li-skill">Xcode</li>
                        <li class="li-skill">Swift playgrounds</li>
                        <li class="li-skill">App ios</li>
                    </figure>
                </div>
            </div>
        </article>

        <!-- Portfolio -->
        <article id="portfolio" style="margin-bottom: 120px">
        <div class="container" style="margin-top: 40px">

            <div> 
                <h1 class="h1portfolio" href="./welcome">Portfolio</h1>
                <p class="p2-skill">Here are a few design projects I've worked on recently. Want to see more? <a class="email" href="mailto:aboucal9@gmail.com" target="_blank" style="font-weight: bold; text-decoration: none;">Email me</a>.</p>
            </div>
            
            <% @pages.each_slice(2) do |n| %>
                <div class="row justify-content-center project">
                <% n.each do |page| %>
                        <div class="col-sm-4">
                            <div class="cards" data-anijs="if: scroll, on: window, do: flipInY animated, before: $scrollReveal">
                                <a>
                                    <%= link_to project_path(page) do %>
                                        <figure class="hover-img">
                                            <div class="card-category" style="background-image: url(<%= page.image %>)"></div>
                                    <% end %>
                                </a>
                                    <%= link_to project_path(page), class:"title" do %>
                                        <div class="title">
                                            <figcaption class=""><%= page.title %><figcaption>
                                        </div>
                                    <% end %>
                                        </figure>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        </article>

        <!-- Contact -->
        <article id="contact">
        <div class="container">
            <div> 
                <h1 class="h1portfolio" href="./welcome">Contact</h1>
                <div class="divider linefooter"></div>
            </div>
            <div class="bgcontact">
                <h1 class="h1contact">Get In Touch</h1>
                <div class="row justify-content-center">
                    <div class="col-10 hrbis"></div>
                </div>
                <p class="row justify-content-center showpresentationter">Let's make something great and beautiful!</p>
            </div>

            <div class="footer-links2">
                <a href="mailto:aboucal9@gmail.com" target="_blank"><i class="fa fa-envelope a-mail"></i></a>
                <a href="https://github.com/ampgn" target="_blank"><i class="fa fa-github a-github"></i></a>
                <a href="https://www.instagram.com/annie_puy/?hl=fr" target="_blank"><i class="fa fa-instagram a-instagram"></i></a>
                <a href="https://twitter.com/anniedilma" target="_blank"><i class="fa fa-twitter a-twitter"></i></a>
                <a href="https://www.linkedin.com/in/anne-lucie-boucal/" target="_blank"><i class="fa fa-linkedin a-linkedin"></i></a>
                <a href="https://www.facebook.com/annepuygrenier" target="_blank"><i class="fa fa-facebook a-facebook"></i></a>
            </div>
        </div>
        </article>

    </section>
</div>

<%= render 'shared/footer' %>

