
<%= render 'shared/navbar' %>

<div class="container" style="margin-top: 40px" >

    <div> 
        <h1 class="h1portfolio" href="./welcome">PORTFOLIO</h1>
    </div>
    
    <% @pages.each_slice(2) do |n| %>
        <div class="row justify-content-center">
        <% n.each do |page| %>
                <div class="col-sm-4">
                    <div class="cards">
                        <a>
                            <%= link_to show_path(page) do %>
                                <div class="card-category" style="background-image: url(<%= page.image %>)"></div>
                            <% end %>
                        </a>
                        <div class="title">
                            <%= page.title %>
                        </div>
                        <div class="description">
                            <p><%= page.description %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
    
</div>

<%= render 'shared/footer' %>


