<script type="text/javascript">

// jquery ready start
$(document).ready(function() {
	// jQuery code

	// Highlight the top nav as scrolling occurs. /bootstrap/
    $('body').scrollspy({ 
        target: '#navbar_1',
        offset: 80
    });

	 // Menu scroll to section
    $('.scrollto').click(function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({ scrollTop: $($anchor.attr('href')).offset().top - 40  }, 1500);
        event.preventDefault();
    });
	
	// for small screen
    if ($(window).width() < 992) {

		// Closes the Responsive Menu on Menu Item Click
	    $('.navbar-collapse a.scrollto').click(function() {
	        $('.navbar-toggler:visible').click();
	    });
	}
    
}); // jquery end
</script>



<div class="container">

    <!-- navbar-collapse -->
    <nav id="navbar_1" class="navbar fixed-top navbar-expand-lg navbar-light shadow-sm bg-white">
        <a class="navbar-brand" href="#">        
            <%= link_to root_path, class: "logo" do %>
                <%= image_tag "/assets/logo.png"%>
            <% end %>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item"><a href="#section_1" class="scrollto nav-link active"> Welcome </a></li>
            <li class="nav-item"><a href="#section_2" class="scrollto nav-link"> About</a></li>
            <li class="nav-item"><a href="#section_3" class="scrollto nav-link"> Portfolio </a></li>
            <li class="nav-item"><a href="#section_4" class="scrollto nav-link"> Contact</a></li>
        </ul>
        </div> 
    </nav>

    <!-- SECTION CONTENT -->
    <section class="section-content py-5">
            
        <article id="section_1">
            <div class="card-category">
                <img src="/assets/ipad.png"/>
            </div>
        </article>


        <hr>

        <article id="section_2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 col-12 about">
                    <img src="/assets/0.jpeg" class="img-fluid"/>
                </div>
                <div class="col-md-5 col-12 about">
                    <h1>About me</h1>
                    <p class="intro">I'm a full-stack web / mobile junior developer
                    <br>
                    based in Aix-en-Provence, France. </p>
                    <p class="dev">I enjoy turning complex problems into simple, beautiful  <br> and intuitive designs. 
                    When, I'm not coding, lisning music <br> or looking series, you'll find me writing, designing or going <br> shopping. 
                    If you are looking for a designer & user interface <br> developer for contract, feel free to reach out.
                    </p>
                </div>
            </div>
        </div>
        </div>

        <div class="container skills">
            <div class="row skills2">
                <div class="col-sm">
                    <figure class="image-skill">
                        <img class="icon-skill" src="/assets/backend.svg"/>
                        <h1 class="h1skill">Back-end<h1>
                        <p class="p-skill">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>   
                        <p class="p1-skill">Dev Tools Back:</p>  
                        <li class="li-skill">Ruby</li>
                        <li class="li-skill">Ruby on rails</li>
                        <li class="li-skill">Github</li>
                        <li class="li-skill">Gitlab</li>
                        <li class="li-skill">Terminal</li>
                    </figure>
                </div>

                <div class="col-sm">
                    <figure class="image-skill">
                        <img class="icon-skill" src="/assets/front-end.svg"/>
                        <h1 class="h1skill">Front-end<h1>
                        <p class="p-skill">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p class="p1-skill">Dev Tools Front:</p>
                        <li class="li-skill">HTML</li>
                        <li class="li-skill">CSS</li>
                        <li class="li-skill">Sass</li>
                        <li class="li-skill">Bootstrap</li>
                        <li class="li-skill">Spectre.CSS</li>
                    </figure>
                </div>

                <div class="col-sm">
                    <figure class="image-skill">
                        <img class="icon-skill" src="/assets/swift.svg"/>
                        <h1 class="h1skill">Swift iOS <h1>
                        <p class="p-skill">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p class="p1-skill">Design Tools:</p>
                        <li class="li-skill">Apps ios</li>
                        <li class="li-skill">UX</li>
                        <li class="li-skill">UI</li>
                        <li class="li-skill">Figma</li>
                        <li class="li-skill">Marvel</li>
                    </figure>
                </div>
            </div>

        </article>


        <hr>

        <article id="section_3">
        <div class="container" style="margin-top: 40px" >

            <div> 
                <h1 class="h1portfolio" href="./welcome">PORTFOLIO</h1>
            </div>
            
            <% @pages.each_slice(2) do |n| %>
                <div class="row justify-content-center">
                <% n.each do |page| %>
                        <div class="col-sm-4">
                            <div class="cards">
                                <a>
                                    <%= link_to show_path(page) do %>
                                        <div class="card-category" style="background-image: url(<%= page.image %>)"></div>
                                    <% end %>
                                </a>
                                <div class="title">
                                    <%= page.title %>
                                </div>
                                <div class="description">
                                    <p><%= page.description %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            
        </div>

        </article>


        <hr>

        <article id="section_4">
        <div class="container">
            <div class="h2contact">
                <h2>Let's make something <br> great and beautiful!</h2>
            </div>

            <div class="footer-links2">
                <a href="mailto:aboucal9@gmail.com" target="_blank"><i class="fa fa-envelope a-mail"></i></a>
                <a href="https://github.com/ampgn" target="_blank"><i class="fa fa-github a-github"></i></a>
                <a href="https://www.instagram.com/annie_puy/?hl=fr" target="_blank"><i class="fa fa-instagram a-instagram"></i></a>
                <a href="https://twitter.com/anniedilma" target="_blank"><i class="fa fa-twitter a-twitter"></i></a>
                <a href="https://www.linkedin.com/in/anne-lucie-boucal/" target="_blank"><i class="fa fa-linkedin a-linkedin"></i></a>
                <a href="https://www.facebook.com/annepuygrenier" target="_blank"><i class="fa fa-facebook a-facebook"></i></a>
            </div>

        </div>

        </article>

    </section>

</div>

<%= render 'shared/footer' %>
